{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <div>
        <h3>Total Spending: ₹{{ total }}</h3>
        <h5>Predicted Next Expense: ₹{{ prediction }}</h5>
    </div>

    <div>
        <a href="/history" class="btn btn-info me-2">View History</a>
        <a href="/export" class="btn btn-secondary">Export CSV</a>
    </div>
</div>

<hr>

<h4>Add Expense</h4>
<form method="POST" action="/add">
    <input class="form-control mb-2" name="title" placeholder="Title" required>
    <input class="form-control mb-2" name="amount" type="number" step="0.01" placeholder="Amount" required>
    <input class="form-control mb-2" name="date" type="date" required>
    <button class="btn btn-primary">Add</button>
</form>

<hr>

<h4>Monthly Savings Goal</h4>

<form method="POST" action="/set_goal">
    <input class="form-control mb-2" name="goal" type="number" placeholder="Enter Goal Amount">
    <button class="btn btn-warning">Set Goal</button>
</form>

{% if goal %}
<p class="mt-2">Goal: ₹{{ goal }}</p>

<div class="progress">
  <div class="progress-bar bg-success" style="width: {{ progress }}%">
    {{ progress|round(2) }}%
  </div>
</div>
{% endif %}

{% endblock %}
